In [1]:
# create a set
animals = {"cat", "dog", "tiger"}

print(type(animals))
print(animals)

<class 'set'>
{'dog', 'cat', 'tiger'}

In [2]:
# create a set
a_set = {"cat", 5, True, 40.0}

print(type(a_set))
print(a_set)

<class 'set'>
{40.0, True, 'cat', 5}

In [3]:
# No duplication
animals = {"cat", "dog", "tiger"}
print(animals)

animals.add("cat")
print(animals)

{'dog', 'cat', 'tiger'}
{'dog', 'cat', 'tiger'}

In [4]:
# copy
animals = {"cat", "dog", "tiger"}
print("Animals:", animals)

a_copy = animals.copy()
print("Copy:", a_copy)

Animals: {'dog', 'cat', 'tiger'}
Copy: {'dog', 'cat', 'tiger'}

In [6]:
# accessing items
animals = {"cat", "dog", "tiger"}
for animal in animals:
    print(animal)

dog
cat
tiger

In [7]:
# not support indexing
animals = {"cat", "dog", "tiger"}
print(animals[1])

TypeError: 'set' object is not subscriptable

In [8]:
# add an item
animals = {"cat", "dog", "tiger"}
animals.add("bear")
print(animals)

{'bear', 'dog', 'cat', 'tiger'}

In [10]:
# insert a set to another set
animals = {"cat", "dog", "tiger"}
animals.update({"chicken","Duck"})
print(animals)

{'dog', 'tiger', 'cat', 'chicken', 'Duck'}

In [16]:
# join two sets
set1 = {"cat", "dog"}
set2 = {"duck", "tiger"}

set3 = set1.union(set2)
print(set3)

{'dog', 'cat', 'duck', 'tiger'}

In [13]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("dog")
print(animals)

{'cat', 'tiger'}

In [14]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("tiger")
print(animals)

{'dog', 'cat'}

In [17]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("duck") # remove quăng thông báo lỗi
print(animals)

KeyError: 'duck'

In [18]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("duck") # chả thông báo giề
print(animals)

{'dog', 'cat', 'tiger'}

In [19]:
# create a set
a_list = [1, 2, 3]
a_set  = {"cat", a_list}
print(a_set)

TypeError: unhashable type: 'list'

In [21]:
# create a set
a_list = [1, 2, 3]
a_set  = {"cat", tuple(a_list)} # set chỉ bao gồm immutable objects
print(a_set)

{'cat', (1, 2, 3)}

In [22]:
# difference 

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [23]:
# difference_update

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [24]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

print(id(set1))
set1.difference_update(set2) 

print(set1)
print(id(set1)) # vẫn giữ nguyên id

1758395040256
{'banana', 'cherry'}
1758395040256

In [25]:
# symmetric_difference

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'pineapple', 'cherry'}

In [26]:
# symmetric_difference_update

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'pineapple', 'cherry'}

In [27]:
# AND (&)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 & set2) # intersection

{3}

In [31]:
# OR (|)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2) # union

{1, 2, 3, 4, 5}

In [33]:
# XOR (^)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 ^ set2) # symmetric difference

{1, 2, 4, 5}

In [30]:
# subtraction (-)

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 - set2) # difference

{1, 2}

In [34]:
# set comprehension

aSet = {i*i for i in range(10)}
print(aSet)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

## Conversion

In [37]:
# convert from set to list
aSet = {1, 2, 3, 4, 5}
print(aSet)
aList = list(aSet)
print(aList)
print(type(aList))

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
<class 'list'>

In [38]:
# convert from set to tuple
aSet = {1, 2, 3, 4, 5}

aTuple = tuple(aSet)
print(aTuple)
print(type(aTuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [39]:
# convert from list to set
aList = [1, 2, 3, 2, 1]

aSet = set(aList)
print(aSet)
print(type(aSet))

{1, 2, 3}
<class 'set'>

In [40]:
# convert from tuple to set
aTuple = (1, 2, 3, 2, 1)

aSet = set(aTuple)
print(aSet)
print(type(aSet))

{1, 2, 3}
<class 'set'>

## Application

In [41]:
# kết nối với file
a_file = open('data.txt','r') 

# read content
data = a_file.read()
print(data)

# Đóng kết nối với file
a_file.close()

Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.  It supports multiple programming paradigms, including structured, object-oriented and functional programming.

In [42]:
data = data.replace('.', '')
print(data)

Python is a high-level, interpreted, general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms, including structured, object-oriented and functional programming

In [43]:
data = data.replace(',', '')
print(data)

Python is a high-level interpreted general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms including structured object-oriented and functional programming

In [44]:
data = data.replace('-', ' ')
print(data)

Python is a high level interpreted general purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically typed and garbage collected  It supports multiple programming paradigms including structured object oriented and functional programming

In [45]:
data = data.lower()
print(data)

python is a high level interpreted general purpose programming language its design philosophy emphasizes code readability with the use of significant indentation python is dynamically typed and garbage collected  it supports multiple programming paradigms including structured object oriented and functional programming

In [46]:
data = data.split()
print(data)
print(len(data))

['python', 'is', 'a', 'high', 'level', 'interpreted', 'general', 'purpose', 'programming', 'language', 'its', 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'the', 'use', 'of', 'significant', 'indentation', 'python', 'is', 'dynamically', 'typed', 'and', 'garbage', 'collected', 'it', 'supports', 'multiple', 'programming', 'paradigms', 'including', 'structured', 'object', 'oriented', 'and', 'functional', 'programming']
41

In [47]:
data = set(data)
print(data)
print(len(data))

{'level', 'oriented', 'design', 'paradigms', 'emphasizes', 'supports', 'collected', 'programming', 'typed', 'python', 'structured', 'and', 'garbage', 'code', 'is', 'philosophy', 'a', 'its', 'high', 'readability', 'general', 'including', 'purpose', 'use', 'indentation', 'dynamically', 'it', 'functional', 'language', 'significant', 'object', 'interpreted', 'the', 'of', 'with', 'multiple'}
36

In [48]:
for index, value in enumerate(data):
    print(index, value)

0 level
1 oriented
2 design
3 paradigms
4 emphasizes
5 supports
6 collected
7 programming
8 typed
9 python
10 structured
11 and
12 garbage
13 code
14 is
15 philosophy
16 a
17 its
18 high
19 readability
20 general
21 including
22 purpose
23 use
24 indentation
25 dynamically
26 it
27 functional
28 language
29 significant
30 object
31 interpreted
32 the
33 of
34 with
35 multiple